@model IQueryable<Tirkhanti_R12Users>
@using Microsoft.AspNetCore.Identity
@inject UserManager<Tirkhanti_R12Users> UserManager

@{ ViewData["Title"] = "ViewAllStudent"; }

<!--Show table list of students, gives additional function for all senior leader/admin-->

<div style="text-align:center;">
    <h4>View All Students</h4>
    <h6>You are logged in as @UserManager.GetUserAsync(User).Result.FirstName</h6>
    <hr />
</div>

<div>
    <form asp-action="ViewAllStudent" asp-controller="Home" method="post">
        <input type="checkbox" name="isActive" value="false" />
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><p>First Name</p></th>
                <th><p>Last Name</p></th>
                <th><p>User Name</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             <tr class="@(item.IsActive == false ? "table-danger" : "")">
                <td><p>@Html.DisplayFor(modelItem => item.FirstName)</p></td>
                <td><p>@Html.DisplayFor(modelItem => item.LastName)</p></td>
                <td><p>@Html.DisplayFor(modelItem => item.UserName)</p></td>
             </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to main</a>
</div>


